# Ignore dataset folder
Dataset/
dataset/
DATASET/
data/
data/*
Dataset/*

# Ignore YOLO runs
runs/

# Ignore virtual environment
venv/

# Ignore model weights
*.pt
*.pth

# Ignore Python cache
__pycache__/
*.pyc

# Ignore images, videos if needed
*.jpg
*.png
*.jpeg
*.mp4
